@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  color: #1d2939;
  overflow: hidden;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}
h2 {
  font-size: 44px;
  font-weight: 600;
  overflow: hidden;
  color: #1d2939;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}
p {
  font-size: 16px;
  color: #667085;
  font-weight: 500;
  line-height: 32px;
  overflow: hidden;
}
.shadow {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
}
.background {
  background-image: url("./assets/pattern.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 970px) {
  h1 {
    font-size: 32px;
    line-height: 45px;
  }
  h4 {
    font-size: 32px;
    line-height: 45px;
  }
}
